link(href='index.scss',lang='scss')
.group
	.title Title
	a.card
		span Text goes here
	a.card
		span Text goes here
	//- .card
	//- 	span Text goes here
	//- .card
	//- 	span Text goes here
.group
	.title Title
	a.card
		span Text goes here
	a.card
		span Text goes here
	a.card
		span Text goes here

.group
	.title Title
	.card
		span Text goes here
	a.card
		span Text goes here
	.card
		span Text goes here
	.card
		span Text goes here
	.card
		span Text goes here
	.card
		span Text goes here
	.card
		span Text goes here